.twitter-widget {
	/*height: 600px;
	overflow: auto;
	width: 300px;
    margin-left: auto;
    margin-right: auto;*/
}
.bubble-wrap {
	opacity: 1;
	transition: all .5s;
}
.bubble-wrap.old {
	opacity: 0;
}
.twitter-bubble {
	position: relative;
	width: 200px;
	padding: 19px;
	background: #96DDFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #474747;
	display: inline-block;
	transition: all 1s;
	max-height: initial;
	overflow: initial;
}
.twitter-bubble.new {
	padding: 0;
	max-height: 0;
	overflow: hidden;
}
.twitter-bubble:after 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 11px 0;
	border-color: #96DDFF transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -15px;
	left: 111px;
}