#Change values for yours (you can get them on Twitter) and rename file to credentials.env
CONSUMER_KEY       =   "xxx"
CONSUMER_SECRET    =   "xxx"
OAUTH_TOKEN        =   "xxx"
OAUTH_SECRET       =   "xxx"